* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  height: 100hv;
  gap: 30px;
}

.header {
  margin-top: 30px;
}
.header > h1 {
  font-family: "Roboto Mono", monospace;
  /* Additional robotic style enhancements */
  text-transform: uppercase; /* Use all capital letters */
  color: #0a2c23; /* Give it a sci-fi, glowing color */
  letter-spacing: 2px; /* Increase the spacing between letters */
  text-shadow: 0 0 5px #00ffc0; /* Add a subtle glow effect */
}
.btn {
  background: skyblue;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  font-weight: 800;
  padding: 5px;
}
.btn:hover {
  background-color: aquamarine;
}
.btn:active {
  background: #000;
  border: 3px solid white;
  color: white;
}
#container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  border: 2px solid rgb(167, 140, 4);
}
.square {
  flex-shrink: 1;
  flex-grow: 1;

  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.63s;
}
.square:hover {
  background-color: aqua;
}
.draw {
  background-color: blueviolet;
}
